extends ../layout.pug

block content
  h3 Page Not Found
  p Sorry, page doesn't exist. 
  p
    a(href="/books") Return to Book Listing
    
  if err
    p= err.status
    p= err.message
    p Stack trace: 
    p= err.stack